VITE_SUPABASE_URL=https://fyyobzkkkmyswfafyupo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_oLpH7SkGzKqgXPL493rRcA_SyP0KNtX
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
SUPABASE_JWKS_URL=https://fyyobzkkkmyswfafyupo.supabase.co/auth/v1/.well-known/jwks.json
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.fyyobzkkkmyswfafyupo.supabase.co:5432/postgres
